* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    background-image: url("/images/body-background.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

button,
input   {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    margin-bottom: 54px;
}

.nav:hover a {
    filter: invert(66%) sepia(14%) saturate(1625%) hue-rotate(96deg) brightness(89%) contrast(91%);
}

.logo {
    margin-left: 79px;
    padding-right: 20px;
    width: 10%;
}

.right-part-navbar {
    width: 45%;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 79px;
}

.logo-1 {
    width: 21px;
    height: 24px;
    padding-right: 25px;
}

.logo-2 {
    width: 21px;
    height: 24px;
    padding-right: 25px;
}

.logo-3 {
    width: 21px;
    height: 24px;
    padding-right: 25px;
}

.separator {
    height: 19px;
    border: 1px solid #FFFFFF;
}

.login {
    font-size: 14px;
    line-height: 14px;
    margin-right: 0;
    padding-right: 10px;
}

.log-in:hover {
    text-decoration: underline;
    color: #01813F;
}

.sign-up-header {
    font-size: 14px;
    line-height: 14px;
    margin-left: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 444px;
    height: 584px;
    margin: 0 auto;
    padding: 31px 59px 38px 60px;
    position: relative;
}

.form-top-section {
    width: 100%;
    position: relative;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sign-up {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    position: absolute;
}

.sign-up::before {
    content: '';
    display: inline-block;
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: -60px;
}

.log-in {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    position: absolute;
    top: 1px;
    right: 0;
}

.upper-btn {
    display: flex;
    column-gap: 8px;
} 

.facebook-section {
    display: flex;
    column-gap: 4px;
    width: 100%;
    padding: 0;
    margin-bottom: 31px;
    position: relative;
}

.google-section {
    display: flex;
    column-gap: 4px;
    width: 100%;
    padding: 0;
    margin-bottom: 31px;
    position: relative;
}

.facebook {
    position: absolute;
    top: 0;
    left: 0;
}

.google {
    position: absolute;
    top: 0;
    right: 0;
}

.facebook, 
.google     {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #305DB8;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    border-style: unset;
    position: relative;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding-left: 47px;
}

.google {
    background: #DF4A32;
}

.facebook:hover {
    background: #022263;
}

.google:hover {
    background: #AB1F09;
}

.separator-btn {
    width: 1px;
    height: 28px;
    opacity: 10%;
    background-color: #0A162F;
    position: absolute;
    top: 11px;
    left: 51px;
    padding: 0;
    margin: 0;
}

.facebook img {
    position: absolute;
    top: 13px;
    left: 17px;
}

.google img {
    position: absolute;
    top: 15px;
    left: 17px;
}

.separator-form {
    display: block; 
    color: #848484;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px; 
    line-height: 14px;
    width: 15px;
    height: 14px;
    position: relative;
    margin-bottom: 12px;
}

.separator-form::before {
    content: '';
    display: block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 8px;
    left: 15px;
}

.separator-form::after {
    content: '';
    display: block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 8px;
    right: 16px;

}

.input-section {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 27px;
}

.input-section input {
    border-radius: 4px;
    width: 322px;
    height: 45px;
    border: 1px solid #F2F2F2;
    padding: 15px 19px;
}

.input-section input:focus {
    outline: none;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.52));
}

.checkbox {
    display: inline-flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343; 
    margin-left: 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.checkbox__input {
    display: none;
}

.check__box {
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
}

.check__box::before {
    background: #FFFFFF;
}

.checkbox__input:checked + .check__box  {
    content: url("/images/checked.png");
    color: #3CB878;
}

.highlight{
    color: #3CB878;
}

.highlight:hover {
    text-decoration: underline;
    color: #01813F;
}

.btn {
    background-color: rgba(60, 184, 120, 0.8);
    border: none;
    color: white;
    padding: 16px 99px;
    text-decoration: none;
    /*margin: 4px 2px;*/
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 37px;
}

.btn:hover {
    background: #01813F;
}
















